.flex-item {
  flex: 0 0 50%;
}

.bio-box {
  display: flex;
  img {
    width: 300px;
  }
  .picture-bio p {
    text-align: right;
    font-weight: 400;
  }
  .text-bio {
    padding: 0 20px;
  }
  .text-bio p {
    margin-top: 0;
    font-weight: 400;
  }
}

.contact-box {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  .socials {
    flex-direction: column;
  }
}

.fade {
  opacity: 0;
}