
header {
  padding: 20px 0;
}

.title {
  position: relative;
}

.title h1 {
  position: absolute;
  font-size: 13px;
  transform: rotate(-90deg);
  color: rgb(209, 209, 209);
  top: 40px;
  left: -40px;
}

.purple-bg .title h1 {
  color: white;
}

.title h2 {
  font-size: 13px;
  margin-left: 20px;
  color: black;
}

header a {
  font-size: 13px;
  margin-right: 10px;
}
.menu1 {
  display: none;
}
.menu2 {
  display: flex;
  justify-content: center;
  a {
    font-size: 13px;
  }
  margin-bottom: 10px;
  #contact-button2 {
    margin-left: 10px;
  }
  width: 100%;
}
@media screen and (min-width: $mobile) {
  .menu1 {
    display: block;
    
  }
  .menu2 {
    display: none;
  }
}