#collection-nav {
  transition: opacity .5s ease;
}

.list-wrapper {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow-x: auto;
  height: 50px;
  align-items: flex-end;
}

.list-wrapper::-webkit-scrollbar {
  width: 0;
}

.list-item {
  white-space: nowrap;
  margin: 0 15px;
}

.list-item a {
  font-size: 13px;
  transition: all ease .3s;
}

.white-bg .list-item a span {
  color: gray;
}

.white-bg .list-item.active a {
  color: black;
  font-size: 20px;
}

.purple-bg .list-item a span {
  color: white;
}

.purple-bg .list-item.active a {
  color: #FAFF00;
  font-size: 20px;
}