.preload {
  background-color: #fffffe;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.scene {
  width: 201px;
  height: 470px;
  perspective: 400px;
}

.cube {
  width: 201px;
  height: 470px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s ease;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   30deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -60deg); }

.cube__face {
  position: absolute;
  width: 201px;
  height: 470px;
  line-height: 200px;
}

.cube__face--front  { 
  background: url('../img/preloader1.webp');
  background-size: cover;
}
.cube__face--right  { 
  background: url('../img/preloader2.webp');
  // background: radial-gradient(farthest-corner at top left, rgba(255,255,255,0.2) 20%, rgba(0,0,0,0) 90%) top right/100% 100%, url('../img/preloader2.webp');
  background-size: cover;
  // background-blend-mode: overlay;
  // animation: colorChange 5s infinite alternate;
 }

//  @keyframes colorChange {
//   to {
//     background-position:top left;
//   }
//  }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }

.yellow-rectangle {
  background: yellow;
  position: absolute;
  left: -250px;
  top: -100px;
  width: 700px;
  height: 65px;
  z-index: 999;
  animation: yellow-rectangle 2s ease;
  animation-delay: 2500ms;
  opacity: 0;
}

@keyframes yellow-rectangle {
  from {
    top: -100px;
    opacity: 1;
  }
  to {
    top: 500px;
    opacity: 1;
    transform-origin: center;
    transform: rotateZ( 35deg)
  }
}