.work-cover {
  height: 470px;
  width: 350px;
  object-fit: cover;
  margin: 0 auto;
}

.collection-cover {
  height: 480px;
  width: 712px;
  object-fit: cover;
  transition: all .6s ease;
}

.collection-cover:hover {
  cursor: pointer;
  width: 450px;
}

.collection-cover.active {
  width: 712px;
  // transform: translateX(-32%);
}

.grid {
  width: 100%;
  display: flex;
}
.empty{
  width: 75%;
  height: 100%;
  background-color: red;
  transition: all 0.6s ease;
}

.photoandtext{
  display: flex;
  justify-content: right;
  width: 25%;
  position :relative;
  transition: all 0.2s ease;
  .collection-text{
    position : absolute;
    top: 70px;
    right: 170px;
  }
}


.collection-text {
  flex-grow: 1;
  transition: all .6s ease;
  background-color: black;
  padding: 10px;
}

.collection-text p {
  text-align: justify;
  width: 300px;
  color: rgb(255, 255, 255);
  font-size: .8em;
 
}

.align-end {
  align-items: flex-end;
}

.move-to-left {
}

@media screen and (min-width: 1300px) {
  .collection-cover.active {
    width: 39%;
  }
}

@media screen and (max-width: $mobile) {
  .work-cover {
    height: 430px;
    max-width: 270px;
    object-fit: cover;
    margin: 0 auto;
  }

  .collection-cover {
    height: 290px;
    width: 168px;
    object-fit: cover;
    transition: all .6s ease;
  }
  .collection-cover:hover {
    cursor: pointer;
    width: 210px;
  }
  .collection-cover.active {
    width: 352px;
    // transform: translateX(0%);
  }
  .photoandtext{
    display: flex;
    justify-content: end;
    width: 100%;
    position :relative;
    .collection-text{
      position : absolute;
      top: 120px;
      right: 30px;
    }
  }
}
