@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
@import './components/header.scss';
@import './components/list.scss';
@import './components/carousel.scss';
@import './components/bio.scss';
@import './components/work.scss';
@import './components/preload.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Scope One', serif;
  font-weight: bold;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: opacity .5s ease;
}

.bg-box {
  background-size: 200% 200%;
  transition: background-position 1s ease-in-out;
}

.white-bg {
  background-image: linear-gradient(to top left, #7919C5 50%, white 0);
  background-position: top left;
}

.purple-bg {
  background-image: linear-gradient(to top left, #7919C5 50%, white 0);
  background-position: bottom right;
}

/* DISPLAY */

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.no-width {
  width: 0;
}

.full-width {
  width: 100%;
}

.fade {
  opacity: 0;
}

.line-through {
  text-decoration: line-through;
}

main {
  flex-grow: 1;
  transition: opacity .5s ease;
}

/* LINKS */

a {
  text-decoration: none;
}

.white-bg a {
  color: gray;
}

.white-bg a.active {
  color: black;
}

.purple-bg a {
  color: white;
}

.purple-bg a.active {
  color: #FAFF00;
}
